@font-face {
  font-family: 'AvenirNext LT Pro Regular';
  src: url('AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'AvenirNext LT Pro Regular', sans-serif;
  font-size: 16px; /* Set a base font size */
    height: 1000px;
}

/* Adjusting the font size of tab panel titles */
.nav-tabs > li > a {
  font-size: 16px; /* Change this value to your desired font size */
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: transparent !important;
	    height: 100%;
  	    padding: 0 0 0 0;
}

/* change color of sidepanel text background */
         #textpanel {
            background-color: transparent !important;
            height:400px;
            overflow-y:auto;
        }

/* change color of selectpanel text background */
         #selectpanel {
         background-color: transparent !important;
        }

/* remove map background */
         #mainpanel {
	    height: 600px;
  	    padding: 0 0 0 0;
            background-color: transparent;
        }
